.customSelect {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  font-size: 1rem;
  padding: 0.4rem 0.8rem; 
}

.customSelect:focus,
.customSelect:hover {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.customSelect:active,
.customSelect:focus:hover {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.applyButton{
  /* margin-right: 1rem; */
  width: 100px;
}

.clearButton {
  margin-left: 3.5rem;
  width: 100px;
}
